*.pyc
*.vscode
naija_highlights/__pycache__/
naija_highlights/spiders/__pycache__/
naija_highlights/data/
.idea/
.ipynb_checkpoints/
.env

.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64